:root {
  font-size: 62.5%;

  --brand-rocket-dark: #633bbc;
  --bg-dark: #121215;
  --paragraph-color: #9e9ea0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-smooth: antialiased;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: azure;
  background: var(--bg-dark);

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

main {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  position: relative;

  background: var(--bg-dark);
  background-image: url(./assets/stars.svg);

  padding: 6.4rem 8rem;
  overflow-x: hidden;
  border-right: 2px solid rgba(128, 128, 128, 0.144);
}

main .wrap::before {
  content: "";
  position: absolute;
  right: -35rem;
  top: 50%;
  transform: translateY(-50%);

  width: 50%;
  height: 30rem;
  background: var(--brand-rocket-dark);
  opacity: 0.5;
  filter: blur(194.334px);
}

.profile {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.profile h1 {
  max-width: 31rem;
  text-align: center;
  font-weight: 400;
}

.avatar {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle at center,
    #d39e33,
    #ed5636,
    #633bbc
  );
  background-size: 500%;
  background-repeat: no-repeat;
  padding: 0.4rem;

  animation: bg-pan-left 8s both;
  transition: scale 200ms;
}

.avatar:hover {
  scale: 1.1;
}

p {
  color: var(--paragraph-color);
}

p a {
  color: var(--paragraph-color);
  text-decoration: none;
}

p a:hover {
  color: var(--brand-rocket-dark);
}

.stripes {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1rem;
  opacity: 0.6;

  background-size: 100% 8px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 12.5%,
    transparent 12.5%,
    transparent 87.5%,
    rgba(255, 255, 255, 0.1) 87.5%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

aside {
  width: 100%;
  height: 100%;

  padding: 6.4rem;

  background: var(--bg-dark);
  background-image: url(./assets/stars.svg);

  overflow-x: hidden;
  overflow-y: scroll;
}

@media (max-width: 800px) {
  :root {
    font-size: 50.25%;
  }

  .wrapper {
    flex-direction: column;
  }

  aside {
    position: relative;
    height: fit-content;
  }

  .stripes {
    left: 0.8rem;
  }
}

/* scrollbar */

::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

::-webkit-scrollbar-track {
  margin-block-start: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background: #633bbc;
  border-radius: 2rem;
  background-clip: padding-box;
}

/* Animations */

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/* profile animations */
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
